{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Pessoa</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
    <h1> Pessoa </h1>
    {% bootstrap_messages %}
    <form method="post" action="{% url 'pessoa' %}" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn bnt-secondary" style="background-color:blue; color:white; border-color:black">
                Cadastrar Pessoa
            </button>
        {% endbuttons %}
    </form>
    </div>
    <button type="submit" class="btn bnt-secondary" style="background-color:blue; color:white; border-color:black">
        <a style="color:white" href="/lista_pessoas"><h5>Voltar</h5></a>
    </button>
{% bootstrap_javascript jquery='full' %}
</body>
</html>